{% extends "base_admin.html" %}

{% block content %}
<div class="mx-auto max-w-4xl p-8 bg-white shadow-lg rounded-lg mt-8">
    <h4 class="text-2xl font-bold text-gray-800 mb-4">Foods</h4>
    <div class="text-center mb-6">
        <a href="{% url 'newfood' %}" class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Add Food</a>
    </div>
    <hr class="my-4">
    <div class="space-y-8">
        {% for food in foods %}
        <div class="bg-gray-100 p-6 rounded-lg shadow-md">
            <div class="flex justify-between items-center mb-4">
                <div>
                    <strong>Item name:</strong> {{food.itemname}}
                </div>
                <a class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500" href="/panel/foods/edit/{{food.foodID}}">Edit</a>
            </div>
            <div class="flex justify-between items-center">
                <div>
                    <strong>Price:</strong> &#x20b9;{{food.price}}
                </div>
                <a class="bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500" href="/panel/foods/delete/{{food.foodID}}">Delete</a>
            </div>
        </div>
        <hr class="my-4">
        {% endfor %}
    </div>
</div>
{% endblock %}