{% extends "base_admin.html" %}

{% block content %}


<div style="margin-left:35%;margin-top:10%;margin-right:35%;margin-bottom:10%;">
    <form method="post" action="{% url 'admin_login' %}">
        {% csrf_token %}
        <div class="container">
            <div class="row" style="margin-top:10px;">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" autofocus autocapitalize="none"
                        autocomplete="username" maxlength="150" required id="id_username" placeholder="Username">
                </div>
            </div>
            <div class="row" style="margin-top:10px; margin-bottom:10px;">
                <div class="form-group">
                    <input type="password" class="form-control" name="password" autocomplete="current-password" required
                        id="id_password" placeholder="Password">
                </div>
            </div>

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{message.tags}}
            </div>
            {% endfor %}
            {% endif %}

            {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% endif %}
            {% endif %}
            <div class="row" style="margin-top:10px;margin-bottom:10px;">
                <center><button type="submit" class="btn btn-primary col-12">Submit</button></center>
                <input type="hidden" name="next" value="{{ next }}">
            </div>

        </div>
    </form>
</div>

{% endblock %}