{% extends "base_generic.html" %}

{% block content %}

  <p></p>
  <h1><center>{{ movies.movie }}</center></h1>
</br>

  <div class="container">
    <div class="row">
      <div class="col center-block text-center">
        <span class="align-middle">(img)</span>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            {% for language in languages %} 
                {{language}} 
                {% if forloop.last %}{% else %}|{% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {% for type in types %} 
                {{type}} 
                {% if forloop.last %}{% else %}|{% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col">
          </br>
          </div>
        </div>
        <div class="row">
          <div class="col">
          {{movies.get_duration}} &bull; {{movies.genre}} &bull; {{movies.rating}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-left:50px;margin-top:20px;margin-right:50px;margin-bottom:20px;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><h4>Theater Name</h4></th>
          <th scope="col"><h4>Date</h4></th>
          <th scope="col"><h4>Time</h4></th>
          <th scope="col"><h4>Viewing Experience</h4></th>
          <th scope="col"><h4>Language</h4></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for show, showurl in shows %}
        <tr>
          <th scope="row"><a href="{{showurl}}">{{show.get_theatername}}</a></th>
          <td>{{show.get_date}}</td>
          <td>{{show.get_time}}</td>
          <td>{{show.type}}</td>
          <td>{{show.language}}</td>
          <td><a type="button" class="btn btn-primary" href="{{show.get_absolute_url}}" role="button">Book</a></td>
        </tr>
          
        {% endfor %}
        
      </tbody>
    </table>
  </div>

  {% endblock %}
