{% extends "base_generic.html" %}
{% load allauth i18n %}
{% block content %}

<div style="margin-left:10%;margin-right:10%;">
    {% if emailaddresses %}
        <p>The following email addresses are associated with your account:</p>
        
        <form method="post" action="{% url 'account_email' %}">
                {% csrf_token %}
                {% for radio in emailaddress_radios %}
                    {% with emailaddress=radio.emailaddress %}
                        {% element field type="radio" checked=radio.checked name="email" value=emailaddress.email id=radio.id %}
                                {% slot label %}
                                    {{ emailaddress.email }}
                                    {% if emailaddress.verified %}
                                        {% element badge tags="success,email,verified" %}
                                            {% translate "Verified" %}
                                        {% endelement %}
                                    {% else %}
                                        {% element badge tags="warning,email,unverified" %}
                                            {% translate "Unverified" %}
                                        {% endelement %}
                                    {% endif %}
                                    {% if emailaddress.primary %}
                                        {% element badge tags="email,primary" %}
                                            {% translate "Primary" %}
                                        {% endelement %}
                                    {% endif %}
                                {% endslot %}
                        {% endelement %}
                    {% endwith %}
                {% endfor %}
                <button name="action_primary" type="submit" class="btn btn-primary">Make Primary</button>
                <button name="action_send" type="submit" class="btn btn-primary">Re-send Verification</button>
                <button name="action_remove" type="submit" class="btn btn-primary">Remove</button>
        </form>

    {% else %}
        <p>No email added. Add:</p>
    {% endif %}
    <h5 style="margin-top:20px;">Add Email Address</h5>
    <hr>
    <form method="post" action="{% url 'account_email' %}">
            {% csrf_token %}
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <input type="email" class="form-control" name="email" placeholder="Email address" maxlength="320" required id="id_email">
                    </div>
                    <div class="col">
                        <button name="action_add" type="submit" class="btn btn-primary"> Add Email</button>
                    </div>
                </div>
            </div>
            {% if form.errors.email %}
                    <div class="alert alert-danger"  style="margin-top:10px;" role="alert">
                        {{form.errors.email}}
                    </div>
            {% endif %}
            
    </form>
</div>

{% endblock %}