{% extends "base_generic.html" %}
{% load allauth i18n %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-8">
    <div class="text-center mb-6">
      <h4 class="text-2xl font-bold text-gray-800">Change Password</h4>
    </div>
    <form method="post" action="{% url 'account_change_password' %}">
      {% csrf_token %}
      <div class="mb-4">
        <input type="password" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" name="oldpassword" placeholder="Current Password" autocomplete="current-password" required id="id_oldpassword">
        {% if form.errors.oldpassword %}
        <div class="mt-2 text-red-600">
          {{ form.errors.oldpassword }}
        </div>
        {% endif %}
      </div>
      <div class="mb-4">
        <input type="password" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" name="password1" placeholder="New Password" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1">
        <span class="text-sm text-gray-600" id="id_password1_helptext">
          <ul class="list-disc list-inside py-2">
            <li>Your password can't be similar to your other information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
          </ul>
        </span>
        {% if form.errors.password1 %}
        <div class="mt-2 text-red-600">
          {{ form.errors.password1 }}
        </div>
        {% endif %}
      </div>
      <div class="mb-4">
        <input type="password" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" name="password2" placeholder="New Password (again)" required id="id_password2">
        {% if form.errors.password2 %}
        <div class="mt-2 text-red-600">
          {{ form.errors.password2 }}
        </div>
        {% endif %}
      </div>
      <div class="text-center">
        <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Change Password</button>
      </div>
      <div class="text-center mt-4">
        <a href="{% url 'account_reset_password' %}" class="text-blue-500 hover:underline">Forgot Password?</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
