{% extends "base_generic.html" %}
{% load i18n %}
{% load allauth %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-8">
    <div class="text-center mb-6">
      <h4 class="text-2xl font-bold text-gray-800">Set Password</h4>
    </div>
    {% url 'account_set_password' as action_url %}
    <form method="post" action="{{ action_url }}">
      {% csrf_token %}
      {{ redirect_field }}
      <div class="mb-4">
        <input type="password" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" name="password1" placeholder="Password" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1">
        <span class="text-sm text-gray-600" id="id_password1_helptext">
          <ul class="list-disc list-inside py-2">
            <li>Your password can’t be similar to your other information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
          </ul>
        </span>
      </div>
      <div class="mb-4">
        <input type="password" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" name="password2" placeholder="Password (again)" required id="id_password2">
      </div>
      <div class="text-center">
        <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Set Password</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}