{% extends "base_generic.html" %}
{% load allauth i18n %}
{% block content %}

<center>
    <h2>Hi,
        {% if user.first_name %}
        {{ user.first_name}} {{user.last_name}}
        {% else %}
        Guest{% endif %}!</h2>
</center>




<div style="max-width:70%;margin-left:15%;margin-right:15%;">

    <table class="table">
        <tbody>
            <tr>
                <td>
                    <h5>Details</h5>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Balance: </td>
                <td>{{balance}}</td>
                <td><a type="submit" href="{% url 'balanceview' %}" class="btn btn-primary col-6">Add Balance</a></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    {% if user.email %}
                    {{user.email}}
                    {% else %}
                    Email not added.
                    {% endif %}
                </td>
                <td>
                    <a type="submit" href="{% url 'account_email' %}" class="btn btn-primary col-6">Edit</a>
                </td>
            </tr>

            <tr>
                <td>
                    Password Settings:
                </td>
                <td></td>
                <td>
                    <a type="submit" href="{% url 'account_change_password' %}" class="btn btn-primary col-6">Edit</a>
                </td>
            </tr>
            <tr>
                <td>
                    Google Linking Settings:
                </td>
                <td></td>
                <td>
                    <a type="submit" href="{% url 'socialaccount_connections' %}" class="btn btn-primary col-6">Edit</a>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Bookings</h5>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tickets: </td>
                <td>
                </td>
                <td><a type="submit" href="{% url 'ticketslist' %}" class="btn btn-primary col-6">View</a></td>
            </tr>
            <tr>
                <td>Transactions:</td>
                <td></td>
                <td>
                    <a type="submit" href="{% url 'transactions' %}" class="btn btn-primary col-6">View</a>
                </td>
            </tr>
        </tbody>
    </table>
    <center>
        <form id="logout-form" method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger col-3">Logout</button>
        </form>
    </center>
</div>

{% endblock %}