{% extends "base_generic.html" %}

{% block content %}

<div style="margin-left:5%;margin-right:5%;">
    <center>
        <h4>Tickets</h4>
    </center>
    <div class="container">
        <hr>
        {% for ticket in tickets %}
        <div class="row" style="padding-bottom:10px;">
            <div class="col">
                <h5>Movie: {{ticket.show.get_moviename}} {{ticket.show.language}}-{{ticket.show.type}}</h5>
            </div>
            <div class="col">
                <h5>Count: {{ticket.count}}</h5>
            </div>
            <div class="col">
                <a class="btn btn-primary" type="submit" href="food/{{ticket.ticketID}}">
                    Pre-order food
                </a>
            </div>

        </div>
        <div class="row" style="padding-bottom:10px;">
            <div class="col">
                <h5>Theater: {{ticket.show.get_theatername}}</h5>
            </div>

            <div class="col">
                <h5>Total: &#x20b9;{{ticket.total}}</h5>
            </div>
            <div class="col">
                <a class="btn btn-danger" type="submit" href="refund/{{ticket.ticketID}}">
                    Refund
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Time: {{ticket.show.get_time}} on {{ticket.show.get_date}}</h5>
            </div>

        </div>

        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}