{% extends "base_generic.html" %}
{% load i18n %}
{% load allauth %}
{% load socialaccount %}

{% block content %}
<div style="margin-left:5%;margin-right:5%;">
    <h4>Account Connections</h4>
    {% if form.accounts %}
        <p>You can sign in to your account using any of the following third-party accounts:</p>
        {% url 'socialaccount_connections' as action_url %}
        {% element form form=form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% for acc in form.fields.account.choices %}
                    {% with account=acc.0.instance.get_provider_account %}
                        {% setvar radio_id %}
                            id_account_{{ account.account.pk }}
                        {% endsetvar %}
                        {% setvar tags %}
                            socialaccount,{{ account.account.provider }}
                        {% endsetvar %}
                        {% element field id=radio_id type="radio" name="account" value=account.account.pk %}
                            {% slot label %}
                                {{ account }}
                                {% element badge tags=tags %}
                                    {{ account.get_brand.name }}
                                {% endelement %}
                            {% endslot %}
                        {% endelement %}
                    {% endwith %}
                {% endfor %}
            {% endslot %}
            {% slot actions %}
            <button type="submit" class="btn btn-danger">Remove</button>
            {% endslot %}
        {% endelement %}
    {% else %}
        <p>You currently have no third-party accounts connected to this account</p>
    {% endif %}
    <hr>
    <p style="margin-top:10px;">
    <a href="{% provider_login_url 'google' %}?process=connect" class="btn btn-primary">Connect a Google Account</a>
    </p>
</div>
{% endblock content %}
