{% extends "base_generic.html" %}
{% load i18n %}
{% load allauth %}

{% block content %}
<div style="margin-left:5%;">
    <h4>Set Password</h4>
    {% url 'account_set_password' as action_url %}
    {% element form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            <p style="max-width:300px;">
            <input type="password" class="form-control" name="password1" placeholder="Password" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1">
            <span class="helptext" id="id_password1_helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>
            </p>
            
            <p style="max-width:300px;">
            <input type="password" class="form-control" name="password2" placeholder="Password (again)" required id="id_password2">
            </p>
        {% endslot %}
        {% slot actions %}
        <button name="action" type="submit" class="btn btn-primary">Set Password</button>
        {% endslot %}
    {% endelement %}
</div>
{% endblock content %}
