{% extends "base_generic.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block content %}
<div style="margin-left:5%;margin-right:5%;">
    <h4>Password Reset</h4>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    {% endelement %}
</div>
{% endblock content %}
