{% extends "base_generic.html" %}
{% load allauth i18n %}
{% block content %}

<center>
    <h2>Hi, 
        {% if user.first_name %}
                {{ user.first_name}} {{user.last_name}}
                {% else %}
                {{user.email}}{% endif %}!</h2>
</center>

<div style="max-width:70%;margin-left:15%;margin-right:15%;">
    <h5>Details</h5>
    <table class="table">
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    {% if user.email %}
                        {{user.email}}
                    {% else %}
                        Email not added.
                    {% endif %}
                </td>
                <td>
                    <a type="submit" href="{% url 'account_email' %}" class="btn btn-primary col-12">Edit</a>
                </td>
            </tr>

            <tr>
                <td>
                    Password Settings:
                </td>
                <td></td>
                <td>
                    <a type="submit" href="{% url 'account_change_password' %}" class="btn btn-primary col-12">Edit</a>
                </td>
            </tr>
            <tr>
                <td>
                    Google Linking Settings:
                </td>
                <td></td>
                <td>
                    <a type="submit" href="{% url 'socialaccount_connections' %}" class="btn btn-primary col-12">Edit</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>

{% endblock %}