{% extends "base_generic.html" %}

{% block content %}
<h1><center>Movies</center></h1>

    <div class="container">
    {% for movie in movielist %}
      {% if forloop.first %}<div class="row">{% endif %}
      <div class="col">
        <center>
               <a href="{{movie.get_absolute_url}}">
              {{ movie.movie }}</a></br> ({{movie.genre}})
              
        </center>
      </div>
      {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    </div>

  {% endblock %}