{% extends "base_generic.html" %}

{% block content %}
<center>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
  <div class="container">
    <div class="col-4" style="padding-bottom:10px;">
        <div class="form-group">
            <input type="email" class="form-control" name="email" autocomplete="email" required id="id_email" placeholder="Email">
        </div>
    </div>
        <input type="submit" class="btn btn-primary" value="Reset password">
  </div>
  </form>
</center>
{% endblock %}
