<!doctype html>
<html lang="en">

<head>
  {% block title %}
  <title>BookMyTicket</title>
  {% endblock %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <!-- Add additional CSS in static file -->
  {% load static %}
</head>

<body class="bg-gray-100 text-gray-900">
  {% block sidebar %}
  <aside>
    <nav class="bg-black p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a class="text-white text-xl font-bold" href="{% url 'index' %}">BookMyTicket</a>
        <div class="hidden md:flex md:items-center md:w-auto" id="navbarSupportedContent">
          <ul class="flex space-x-4">
            <li>
              <a class="text-white hover:text-blue-300" href="{% url 'movies' %}">Movies</a>
            </li>
            <li>
              <a class="text-white hover:text-blue-300" href="{% url 'theaters' %}">Theaters</a>
            </li>
            {% if user.is_authenticated %}
            <li>
              <a class="text-white hover:text-blue-300" aria-current="page" href="{% url 'profile' %}">
                {% if user.first_name %}
                {{ user.first_name }} {{ user.last_name }}
                {% else %}
                Guest
                {% endif %}
              </a>
            </li>
            {% else %}
            <li>
              <a class="text-white hover:text-blue-300" href="{% url 'account_login' %}?next={{ request.path }}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </aside>
  {% endblock %}

  {% block content %}
  {% endblock %}
</body>

</html>